################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/Qrf.Core.Apis/bin/Debug/netcoreapp2.0
/src/Qrf.Core.Apis/obj
/src/Qrf.Core.EntityFramework/bin/Debug/netstandard2.0
/src/Qrf.Core.EntityFramework/obj
/.vs
/src/QrF.Core.IdentityServer/bin/Debug/netcoreapp2.0
/src/QrF.Core.IdentityServer/obj
/src/BuildingBlocks/HealthChecks/src/Microsoft.AspNetCore.HealthChecks/bin/Debug/netstandard2.0
/src/BuildingBlocks/HealthChecks/src/Microsoft.AspNetCore.HealthChecks/obj
/src/BuildingBlocks/HealthChecks/src/Microsoft.Extensions.HealthChecks/bin/Debug/netstandard1.3
/src/BuildingBlocks/HealthChecks/src/Microsoft.Extensions.HealthChecks/obj
/src/BuildingBlocks/HealthChecks/src/Microsoft.Extensions.HealthChecks.SqlServer/bin/Debug/netstandard1.3
/src/BuildingBlocks/HealthChecks/src/Microsoft.Extensions.HealthChecks.SqlServer/obj
/src/BuildingBlocks/WebHostCustomization/WebHost.Customization/bin/Debug/netcoreapp2.0
/src/BuildingBlocks/WebHostCustomization/WebHost.Customization/obj
/src/Services/QrF.Core.IdentityServer/bin/Debug/netcoreapp2.0
/src/Services/QrF.Core.IdentityServer/obj
/src/Services/QrF.Core.API/bin/Debug/netcoreapp2.0
/src/Services/QrF.Core.API/obj
/src/Services/QrF.Core.UI/bin/Debug/netcoreapp2.0
/src/Services/QrF.Core.UI/bower_components/oidc-client
/src/Services/QrF.Core.UI/obj
/src/BuildingBlocks/Base/QrF.Core/bin/Debug/netstandard2.0
/src/BuildingBlocks/Base/QrF.Core/obj
/src/BuildingBlocks/Materials/QrF.Core.Materials/bin/Debug/netstandard2.0
/src/BuildingBlocks/Materials/QrF.Core.Materials/obj
/src/Services/QrF.Core.UI/wwwroot/node_modules
src/Services/QrF.Core.UI/wwwroot/npm-debug.log
/src/Framework/QrF.Core/bin/Debug/netstandard2.0
/src/BuildingBlocks/HealthChecks/src/Microsoft.Extensions.HealthChecks/bin/Debug/netstandard2.0
/src/BuildingBlocks/HealthChecks/src/Microsoft.Extensions.HealthChecks.AzureStorage/obj
/src/BuildingBlocks/HealthChecks/src/Microsoft.Extensions.HealthChecks.SqlServer/bin/Debug/netstandard2.0
/src/Framework/QrF.Core/obj
/src/Materials/QrF.Core.API/bin/Debug/netcoreapp2.0
/src/Materials/QrF.Core.API/obj
/src/Materials/QrF.Core.Materials/bin/Debug/netstandard2.0
/src/Materials/QrF.Core.Materials/obj
/src/Materials/QrF.Core.API/internal-nlog.txt
