@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="app">

</div>
@section scripts
    {
    <script type="text/javascript">
        $(function () {
            abp.services.app.projectTask.getAllAsync().done(function (result) {
                console.log('making request...2');
                $('#app').text(JSON.stringify(result) + " --- " + new Date().getTime());
                console.log('making request...3');
            });
        });
    </script>
}